@import '../variables.css';

:root{
    --post-margin:0 0 var(--large-spacing);
    --post-background-color:#fff;
    --post-border-radius:10px;

    --post-image-background-color:var(--windsor);
    --post-image-border-width:2px;
    --post-image-border-color:var(--windsor);
    --post-image-border-radius:10px 10px 0 0;

    --services-post-font-color:#fff;
    --services-post-title-color:var(--mantis);
    --services-post-image-border-radius:10px;
}

.post-list{
    @media screen and (min-width:768px) {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin:var(--large-spacing) 0 var(--small-spacing);
    }
}

    .post{
        background:var(--post-background-color);
        margin:var(--post-margin);
        color:var(--body-font-color);
        border-radius:var(--post-border-radius);

        @media screen and (min-width:768px) {
            width:28%;
            flex-grow:1;
            margin:0 var(--small-spacing) var(--large-spacing);

            &:nth-child(3n+1){
                margin-left:0;
            }

            &:nth-child(3n+3){
                margin-right:0;
            }
        }
    }

        .post-image-wrap{
            background-color:var(--post-image-background-color);
            border:none;
            border-bottom:var(--post-image-border-width) solid var(--post-image-border-color);
            border-radius:var(--post-image-border-radius);
            width:100%;
            height:200px;
        }

        .post-body{
            padding:var(--small-spacing);
            overflow:hidden;

            :last-child{
                margin:0;
            }
        }

            .post-title{
                font-size:1.375em;
            }

.services-post{
    background:transparent;
    color:var(--services-post-font-color);
}

    .services-post-image-wrap{
        border:none;
        border-radius:var(--services-post-image-border-radius);
        margin-bottom:var(--small-spacing);
    }

    .services-post-body{
        padding:var(--small-spacing) 0 0;
    }

        .services-post-title{
            color:var(--services-post-title-color);
        }

.featured-post{
    margin:0;
    width:100%;
}

    .post-image-wrap{
        .featured-post & {
            @media screen and (min-width:768px) {
                margin-bottom:0;
            }
        }
    }

    .post-title{
        .featured-post & {
            @media screen and (min-width:768px) {
                font-size:2.5em;
            }
        }
    }

    .post-body{
        .featured-post & {
            @media screen and (min-width:768px) {
                padding:var(--large-spacing);
            }
        }
    }
